{:main transit-dashboard.main
 :optimizations :advanced
 :closure-defines {goog.DEBUG false}
 :output-dir "target/public/prod"
 :output-to "target/public/prod/transit-dashboard.js"
 :source-map "target/public/prod/transit-dashboard.js.map"}
